@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@model SFAdvDevAugust2022.Mvc.Models.LinoWidgetModel
<div>
    @Html.Resource(Model.Message)
</div>
<div>
    @Model.Enum
</div>
<div>
    @Model.Flag
</div>
<div>
    @Model.MyDate
</div>
<div>
    @Model.Number
</div>
<div>
    <img src="@Model.Images" />
</div>